SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback
SKIDDLE_API_KEY=your_skiddle_api_key_here
DICE_API_KEY=your_dice_api_key_here
LAST_FM_API_KEY=your_lastfm_api_key_here
SESSION_SECRET=your_session_secret_here
FERNET_KEY=your_fernet_key_here
